@use './mixin.scss' as mix;

.header-container {
    position: fixed;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: mix.$primary-color;
    border-radius: 0 0 10px 10px;
    z-index: 1000;

    button {
        all: unset;
        cursor: pointer;
        border-radius: 10px;
        padding: 0.5em 1em;

        img {
            width: 1em;
        }

        .settings-list {
            position: absolute;
            top: 100%;
            left: 1em;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);

            ul {
                margin: 0;
                list-style-type: none;

                li {
                    padding: 0.5em;
                    cursor: pointer;

                    &:hover {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }

    p {
        color: #ffffff;
        font-weight: 100;
    }

}