@import './mixin.scss';

.myBoard-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4em 0.4em 1em 0.4em;
    gap: 0.3em;
    @include flex-center;

    .myBoard-header {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #d3d2d2;
        padding: 0.5em;
        margin-bottom: 1em;
        border-radius: 10px;
        gap: 1em;

        button {
            width: 2em;
            height: 2em;
            border: none;
            border-radius: 50px;
            @include flex-center;

            img {
                width: 1em;
            }
        }

        .myBoard-header-details {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .myBoard-filter-container {
            width: 100%;
            background-color: #ffffff;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .filter-form {
                width: 100%;
                flex-wrap: wrap;
                padding: 0.5em;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;


                .filter-div {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .filter-btn-div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 0.5em;

                    button {
                        width: 100%;
                        margin-top: 1em;
                        border: none;
                        border-radius: 10px;
                        background-color: $primary-color;
                        color: #000000;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .myBoard-work-details {
        width: 100%;
        @include flex-center;
        flex-direction: row;
        gap: 0.5em;

        .myBoard-work-details-date {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .myBoard-work-details-content {
            width: 80%;
            background-color: $primary-color2;
            border-radius: 20px;
            @include flex-center;
            padding: 1em 0.4em;

            .myBoard-work-details-inner {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
            }
        }
    }
}