.loadership_ZZWHY {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* עדיף מ-absolute כי זה גם בגלילה */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}

.loadership_ZZWHY div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 0 0 0;
    background: #A067EA;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loadership_ZZWHY div:nth-child(1) {
    left: 0px;
    animation: loadership_ZZWHY_scale_up 0.6s infinite;
}

.loadership_ZZWHY div:nth-child(2) {
    left: 0px;
    animation: loadership_ZZWHY_translate 0.6s infinite;
}

.loadership_ZZWHY div:nth-child(3) {
    left: 24px;
    animation: loadership_ZZWHY_translate 0.6s infinite;
}

.loadership_ZZWHY div:nth-child(4) {
    left: 48px;
    animation: loadership_ZZWHY_scale_down 0.6s infinite;
}

@keyframes loadership_ZZWHY_scale_up {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loadership_ZZWHY_scale_down {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes loadership_ZZWHY_translate {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}